#my-toobar{
    position:fixed !important
}

#tags{
    position:fixed !important
}

#search{
    border-width: 0;
    &:focus {
        outline: none;
    }
}

.tag-list{
    background-color: #9AD8BE;
    margin: 0 4px;
    padding: 0 5px;
    border-radius: 5px;

    &:last-of-type{
        margin-right: 15px;
    }
}

.tag-drawer{
    padding: 0px 8px 8px 12px;

    span{
        display: inline-block;
        // margin-left: 10px;
        margin-right: 6px;
        font-size: 170%;
        padding: 2px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #ddd
        }
    }
}

.md-fab:hover, .md-fab.md-focused {
    background-color: #7EA6FF !important;
}
