/**!
*/

#tags {
    li {
        font-size: 1.4em;
        display: inline-block;
        // margin-right: 6px;
        cursor: pointer;
        border-radius: 10%;
        padding: 2px;

        &:hover, .active {
            background-color: #ddd;
        }
    }
}

nav .input-field {
    margin-top: 21px;

    label {
        top: -19px;
    }
}
