doctype html
html(ng-app="manager")
  head
    title Tagged
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(type="text/css" rel="stylesheet" href="lib/angular-material.min.css")
    link(type="text/css" rel="stylesheet" href="manager.css")

  body(ng-controller="MainCtrl as vm")
    md-content(layout-padding layout-align="cente" layout="row")
      div#tags(flex="20")
        h2 Tags
        ul
          li(ng-repeat="tag in vm.tags") {{ tag }}
      div#favs(flex="80")

    script(src="lib/angular.min.js")
    script(src="lib/angular-aria.min.js")
    script(src="lib/angular-animate.min.js")
    script(src="lib/angular-material.min.js")
    script(src="manager.js")
    script(src="shared.js")
