doctype html
html(ng-app="manager")
  head
    title Tagged
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(type="text/css" rel="stylesheet" href="lib/angular-material.min.css")
    link(type="text/css" rel="stylesheet" href="manager.css")

  body(ng-controller="MainCtrl as vm")
    md-toolbar.md-warn
      .md-toolbar-tools
        h2
          span Tagged
        span(flex)
        md-icon(md-svg-icon="ic_search_white_24px")
        input#search(ng-model="vm.search" type="text")
        md-button.md-icon-button(ng-click="vm.search='';" ng-show="vm.search")
          md-icon(md-svg-icon="ic_clear_white_24px")
             
    md-content(layout-padding layout-align="cente" layout="row")

      div#tags(flex="20")
        md-list
          md-subheader.md-no-sticky Tags
          md-list-item(ng-repeat="tag in vm.tags" ng-click="vm.filterBy(tag)")
            .md-list-item-text
              h3 {{ tag }}
            md-divider(ng-if="!$last")

      div#favs(flex="80")
        md-list
          md-list-item.md-2-line.secondary-button-padding(ng-repeat="fav in vm.favs" ng-click="vm.open(fav.url)")
            img.md-avatar(ng-src="{{ fav.icon }}")
            .md-list-item-text(layout="column")
              h3 {{ fav.title }}
              p {{ fav.url }}
            md-menu.md-secondary
              md-button.md-icon-button(ng-click="vm.openMenu($mdOpenMenu, $event)")
                md-icon(md-menu-origin md-svg-icon="ic_more_vert_black_24px")
              md-menu-content(width="3")
                md-menu-item
                  md-button(ng-click="ctrl.redial($event)")
                    md-icon(md-menu-align-target md-svg-icon="ic_mode_edit_black_24px") 
                    | Edit
                md-menu-item
                  md-button(ng-click="ctrl.redial($event)")
                    md-icon(md-menu-align-target md-svg-icon="ic_delete_black_24px") 
                    | Remove
            md-divider(ng-if="!$last")
    script(src="lib/angular.min.js")
    script(src="lib/angular-aria.min.js")
    script(src="lib/angular-animate.min.js")
    script(src="lib/angular-material.min.js")
    script(src="manager.js")
    script(src="shared.js")
