DOCTYPE html
html
    head
        title Tagged
        style.
            body: {padding: 10px;}
    body
        label(for="jwt") JWT
            input#jwt(type="text")
        #status
        button#save Save
        
        script(src="options.js")
