doctype html
html(ng-app="popup")
  head
    title Tagged
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(type="text/css" rel="stylesheet" href="lib/angular-material.min.css")
    link(type="text/css" rel="stylesheet" href="popup.css")

  body(ng-controller="MainCtrl as vm")
    md-content(layout-align="start stretch" layout="column")
      md-input-container.md-block
        label {{ vm.txt.title }}
        input(ng-model="vm.fav.title")
      md-input-container.md-block
        label {{ vm.txt.description }}
        textarea(ng-model="vm.fav.description" md-maxlength="150" rows="5" md-select-on-focus)
      md-chips(ng-model="vm.fav.tags" placeholder="Enter a tag" secondary-placeholder="+Tag")
      md-button.md-raised.md-warn(ng-click="vm.add()" ng-hide="vm.done")
        md-icon(md-svg-icon="add_white")
        | {{ vm.txt.add }} 

    script(src="lib/angular.min.js")
    script(src="lib/angular-aria.min.js")
    script(src="lib/angular-animate.min.js")
    script(src="lib/angular-material.min.js")
    script(src="lib/elasticlunr.min.js")
    script(src="popup.js")
    script(src="shared.js")
