doctype html
html
  head
    title Tagged
    meta(charset="utf-8")
    //- meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700")
    link(type="text/css" rel="stylesheet" href="lib/materialize.min.css")
    link(type="text/css" rel="stylesheet" href="lib/materialize-tags.min.css")
    link(type="text/css" rel="stylesheet" href="manager.css")

  body
    .navbar-fixed
      nav
        .nav-wrapper
          .row
            .col.s2
              span.brand-logo Tagged
            .col.s7.offset-s2
              form.red.lighten-3
                .input-field
                  input#search(type="search" required)
                  label(for="search")
                    i.material-icons search
                  //- i.material-icons close
            .col.s3.right.hide-on-med-and-down
              ul#nav-mobile.right
                li: a#btn-sync(href="#") Sync
                li: a#btn-export(href="#") Export
                li: a#btn-import(href="#") Import

    //- .container
    .row
      .col.s3
        .card
          .card-content
            span.card-title Tags
            ul#tags
      .col.s9
        .card
          .card-content
            span.card-title Bookmarks
            ul#saves

    #editor.modal
      .modal-content
        h4 Edit
        form
          .row
            .col.s12.input-field
              input#fav-title.validate(type="text")
              label(for="fav-title") Title
            .col.s12.input-field
              input#fav-tags.validate(type="text" data-role="materialtags")
              label(for="fav-tags") Tags
            .col.s6.input-field
              input#fav-url.validate(type="text")
              label(for="fav-url") URL
            .col.s6.input-field
              input#fav-description.validate(type="text")
              //- textarea#description.materialize-textarea
              label(for="fav-description") Description

      .modal-footer
        a#btn-save-edit.modal-action.waves-effect.waves-green.btn-flat(href="#!") Save
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") Cancel

    script(src="lib/jquery.min.js")
    script(src="lib/materialize.min.js")
    script(src="lib/materialize-tags.min.js")
    script(src="lib/elasticlunr.min.js")
    script(src="lib/dust-core.min.js")
    script(src="templates.js")
    script(src="manager.js")
