doctype html
html
  head
    title Tagged
    //- meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="lib/materialize.min.css")
    link(type="text/css" rel="stylesheet" href="lib/materialize-tags.min.css")
    link(type="text/css" rel="stylesheet" href="popup.css")

  body
    p oi

    script(src="lib/jquery.min.js")
    script(src="lib/materialize.min.js")
    script(src="lib/materialize-tags.min.js")
    script(src="lib/elasticlunr.min.js")
    script(src="popup.js")
